<app-navbar></app-navbar>
<div class="container">
    <h3>Shopping Cart</h3>
    <div class="text-center my-5" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="flash">
        <flash-messages></flash-messages>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-md-9 mb-5">
            <div *ngFor="let product of selectedProducts">
                <app-cart-item [id]="product._id" [name]="product.name" [price]="product.price"
                    [quantity]="product.quantity" (newQuantityEvent)="updateProductQuantity($event)"
                    (removeItemEvent)="removeCartItem($event)">
                </app-cart-item>
            </div>
            <hr>
            <h4>Subtotal: {{totalPrice | currency:'KES':'code'}}</h4>
        </div>
        <div class="col-md-3 checkout">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cart Total</h5>
                    <p class="card-text">Subtotal: {{totalPrice | currency:'KES':'code'}}</p>
                    <hr>
                    <p class="card-text">Shipping:</p>
                    <hr>
                    <p class="card-text">Total: {{totalPrice | currency:'KES':'code'}}</p>
                    <hr>
                    <div class="d-grid">
                        <button type="button" routerLink="/checkout" class="btn btn-primary btn-block">
                            Proceed to Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>