<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5">
                <p>E-Com Hub, Shop 7</p>
                <p>2nd Floor</p>
                <p>Kimathi Chambers Building</p>
                <p>Kimathi Street</p>
                <p>Nairobi, Kenya</p>
            </div>
            <div class="col-md-4 mb-5">
                <p>+254 113 427 101</p>
                <p>hello@alazetu.com</p>
            </div>
            <div class="col-md-4 mb-5">
                <div class="social-media">
                    <a href="https://facebook.com/Alazetu"><fa-icon [icon]="faFacebook" size="2x"></fa-icon></a>
                    <a href="https://twitter.com/alazetu"><fa-icon [icon]="faTwitter" size="2x"></fa-icon></a>
                    <a href="https://instagram.com/alazetu"><fa-icon [icon]="faInstagram" size="2x"></fa-icon></a>
                </div>
            </div>
        </div>
        <hr>
        <p style="font-size: 13px;">&copy; 2023 Alazetu. All Rights Reserved.</p>
    </div>
</div>