<app-navbar></app-navbar>
<div class="container">
    <div class="content">
        <div class="first-section">
            <h4>Get To Know AlaZetu</h4>
            <p>AlaZetu is a Kenyan company that curates music education material. Our aim is to increase the amount of Kenyan material in the music education space.</p>
        </div>
        <div class="second-section">
            <h4>Our Story</h4>
            <h5>Our Founder's Perspective</h5>
            <p>Hello, and welcome! My name is Makau, founder of AlaZetu.</p>
            <p> Our journey began back in 2020 when as a music teacher based in Nairobi, I faced a serious shortage of Kenyan music material to use with my students in class. 
                How could I teach Kenyan musical styles without Kenyan material? From that time I did not rest until I had engaged a number of Kenyan musicians whose music was 
                just right for use in teaching, rallied teachers like myself as well as music arrangers, and got down to the business of curating a series of music education books 
                for as many instruments as we could. Say hello to the Ngomabooks!
            </p>
        </div>
        <div class="third-section">
            <h4>What The Future Holds</h4>
            <p> Join us, be it by learning Kenyan sounds through the Ngomabooks, or by recommending them to family, friends and colleagues, as we work towards a future that 
                is rich in Kenyan music education material. We look forward to a future where we can learn and enjoy our rich musical heritage, a future which, with you in it, 
                will be all the more delightful.
            </p>
        </div>
        <div class="youtube-video">
            <div>
                <h4>What are Ngomabooks?</h4>
                <iframe src="https://www.youtube.com/embed/uSw-K9N8qEo" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
            </div>
        </div>
        <div class="fourth-section">
            <h4>The Team</h4>
            <div class="row">
                <div class="card mb-4 col-md-4">
                    <img src="/assets/images/Timothy.jpg" alt="Alazetu logo">
                    <div class="card-body">
                      <h6 class="card-title">Timothy Mbaka</h6>
                      <p class="card-text">CTO</p>
                    </div>
                </div>
                <div class="card mb-4 col-md-4">
                    <img src="/assets/images/Yole.jpg" alt="Alazetu logo">
                    <div class="card-body">
                      <h6 class="card-title">Makau Yole</h6>
                      <p class="card-text">Founder, CEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>