.container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    .content {
        width: 80%;
        text-align: center;
        .first-section {
            margin-top: 30px;
            h4 {
                color: #FF3300;
            }
            p {
                font-family: 'Epilogue', sans-serif;
                font-weight: bold;
            }
        }
        .second-section {
            margin-top: 60px;
            h4, h5 {
                color: #FF3300;
            }
            p {
                font-family: 'Epilogue', sans-serif;
                font-weight: bold;
            }
        }
        .third-section {
            margin-top: 60px;
            h4 {
                color: #FF3300;
            }
            p {
                font-family: 'Epilogue', sans-serif;
                font-weight: bold;
            }
        }
        .fourth-section {
            margin-top: 60px;
            h4 {
                color: #FF3300;
            }
            .row {
                margin: 50px;
                display: flex;
                align-items: center;
                justify-content: center; 
                .card {
                    border-radius: 0px;
                    border: 0;
                    button {
                        border-radius: 0px;
                        font-size: 16px;
                        font-weight: bold;
                        background-color: black;
                        outline: none !important;
                        box-shadow: none !important;
                        border: 0px;
                    }
                }
            }
        }
        .youtube-video {
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            h4 {
                color: #FF3300;
            }
            .youtube-video {
                iframe {
                    width: 560px;
                    height: 315px;
                }
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .youtube-video {
        iframe {
            width: 350px !important;
            height: 200px !important;
        }
    }
}