<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>E-Com Hub, Shop 7</p>
                <p>2nd Floor</p>
                <p>Kimathi Chambers Building</p>
                <p>Kimathi Street</p>
                <p>Nairobi, Kenya</p>
            </div>
            <div class="col-md-4">
                <p>+254 113 427 101</p>
                <p>hello@alazetu.com</p>
            </div>
            <div class="col-md-4 mb-5">
                <div class="social-media">
                    <!-- <fa name="facebook" size="lg"></fa>
                    <fa name="twitter" size="lg"></fa>
                    <fa name="instagram" size="lg"></fa>
                    <fa name="linkedin" size="lg"></fa> -->
                </div>
            </div>
        </div>
        <hr>
        <p style="font-size: 13px;">&copy; 2023 Alazetu. All Rights Reserved.</p>
    </div>
</div>