.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff !important;
    .container {
        .navbar-brand {
            img {
                width: 100px;
                height: 100px;
            }
        }
        .navbar-nav {
            font-size: 18px;
            a:hover {
                color: #C41230;
            }
            .nav-link {
                color: black;
                font-weight: bold;
            }
            .dropdown-menu {
                border-radius: 0;
                .dropdown-item {
                    font-weight: bold;
                }
            }
            .bg-danger {
                background-color: #ffffff !important;
                color: #FF3300;
            }
        }
    }
}