.container {
    font-family: 'Montserrat', sans-serif;
    min-height: 60vh;
    margin-top: 50px;
    margin-bottom: 50px;
    form {
        label {
            color: black;
            font-size: 13px;
            font-weight: bold;
        }
        input {
            border-radius: 0px;
            font-size: 13px;
            border: 2px solid black;
        }
        input[type="email"],
        input[type="password"],
        input[type="text"],
        input[type="number"] {
            outline: none !important;
            box-shadow: none !important;
        }
        input[type="email"]:focus,
        input[type="password"]:focus,
        input[type="number"]:focus,
        input[type="text"]:focus {
            background-color: #e7e4f0;
        }
        .input-group-text {
            border-radius: 0;
            fa {
                cursor: pointer;
            }
        }
        .invalid-feedback {
            font-size: 11px;
        }
        button {
            margin-top: 20px;
            border-radius: 0px;
            background-color: #FF3300;
            border: 0px;
            outline: none !important;
            box-shadow: none !important;
            font-size: 13px;
            font-weight: bold;
        }
    }
}


@media only screen and (max-width: 768px) {

}