<app-navbar></app-navbar>
<div class="container">
    <h3>Manage Profile</h3>
    <hr>
    <div class="profile mb-3">
        <form [formGroup]="profileForm">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': profileFormSubmitted && f['firstName'].errors}" autofocus>
                    <div *ngIf="profileFormSubmitted && f['firstName'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstName'].errors['required']">Firstname is required</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': profileFormSubmitted && f['lastName'].errors}">
                    <div *ngIf="profileFormSubmitted && f['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastName'].errors['required']">Lastname is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': profileFormSubmitted && f['email'].errors}" readonly>
                    <div *ngIf="profileFormSubmitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div *ngIf="f['email'].errors['email']">Valid Email is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block" (click)="updateProfile()">UPDATE
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <h3>Reset Password</h3>
    <hr>
    <div class="password mb-3">
        <form [formGroup]="resetPasswordForm">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="password">Current Password</label>
                    <div class="input-group">
                        <input [type]="fieldTextType? 'text' : 'password'" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && g['password'].errors}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon *ngIf="fieldTextType" [icon]="faEye" (click)="toggle()"></fa-icon>
                                <fa-icon *ngIf="!fieldTextType" [icon]="faEyeSlash" (click)="toggle()"></fa-icon>
                            </span>
                        </div>
                        <div *ngIf="submitted && g['password'].errors" class="invalid-feedback">
                            <div *ngIf="g['password'].errors['required']">Password is required</div>
                            <div *ngIf="g['password'].errors['minlength']">Must be a minimum of 6 characters</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="password">New Password</label>
                    <div class="input-group">
                        <input [type]="fieldTextType? 'text' : 'password'" class="form-control" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && g['newPassword'].errors}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon *ngIf="fieldTextType" [icon]="faEye" (click)="toggle()"></fa-icon>
                                <fa-icon *ngIf="!fieldTextType" [icon]="faEyeSlash" (click)="toggle()"></fa-icon>
                            </span>
                        </div>
                        <div *ngIf="submitted && g['newPassword'].errors" class="invalid-feedback">
                            <div *ngIf="g['newPassword'].errors['required']"> New password is required</div>
                            <div *ngIf="g['newPassword'].errors['minlength']">Must be a minimum of 6 characters</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block" (click)="resetPassword()">RESET PASSWORD
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>