.container {
    min-height: 60vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    .product {
        display: flex;
        align-items: center;
        justify-content: center;
        .image {
            img {
                width: 400px;
                height: 400px;
            }
        }
        .details {
            padding-left: 100px;
            button {
                background-color: #FF3300;
                border: 0px;
                border-radius: 0px;
                outline: none !important;
                box-shadow: none !important;
                font-weight: bold;
            }
            .in-cart {
                fa-icon {
                    color: #FF3300;
                }
                fa-icon:hover {
                    cursor: pointer;
                    color: black;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .image {
        img {
            width: 300px !important;
            height: 300px !important;
        }
    }
    .details {
        padding-left: 0px !important;
        margin: 30px;
    }
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}