<app-navbar></app-navbar>
<div class="container">
    <div class="product">
        <div class="image">
            <img src="/assets/images/Ngomabook.jpeg" alt="Alazetu logo" />
        </div>
        <div class="details">
            <h3>{{selectedProduct.name}}</h3>
            <h4>{{selectedProduct.cost | currency:'KES':'code'}}</h4>
            <p>{{description}}</p>
            <p>Availability: 9 in stock</p>
            <button class="btn btn-primary action" (click)="addToCart(selectedProduct.id)" *ngIf="!cartItems.includes(selectedProduct.id)">Add to Cart</button>
            <div class="in-cart" *ngIf="cartItems.includes(selectedProduct.id) && isLoggedIn()">
                <fa-icon [icon]="faCheck" size="2x" (click)="removeFromCart(selectedProduct.id)"></fa-icon>
            </div>
        </div>
        <hr>
    </div>
</div>
<app-footer></app-footer>