.container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    button {
        border-radius: 0px;
        background-color: #FF3300;
        border: 0px;
        outline: none !important;
        box-shadow: none !important;
        // font-size: 25px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
}