<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div *ngFor="let product of products" class="col-md-4">
            <div class="card mb-4">
                <img src="/assets/images/Ngomabook.jpeg" alt="Alazetu logo">
                <div class="card-body">
                    <a routerLink="/product">
                        <h6 class="card-title">{{product.name}}</h6>
                    </a>
                    <p class="card-text">{{product.cost}}</p>
                    <button class="btn btn-primary" (click)="addToCart()" *ngIf="!cartItems.includes(product.id)">
                        Add to Cart
                    </button>
                    <div class="in-cart" *ngIf="cartItems.includes(product.id) && isLoggedIn()">
                        <fa-icon [icon]="faCheck" size="2x" (click)="removeFromCart()"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>