<app-navbar></app-navbar>
<div class="container">
    <div class="main-section">
        <div class="logo">
            <img src="/assets/images/Alazetu.jpg" alt="Alazetu logo" />
        </div>
        <div class="call-to-action">
            <p>Alazetu is a Kenyan company that curates music education material.</p>
            <button class="btn btn-primary btn-block" routerLink="/about-us">Learn More</button>
        </div>
    </div>
    <hr>
    <div class="secondary-section">
        <div class="intro">
            <p>
                Ngomabooks are a series of music books we have created for various instruments. They contain Kenyan songs by Kenyan artistes. 
                They are suitable for use while learning and practising musical instruments. The songs are the same across all Ngomabooks enabling you to 
                play together with your friends on different instruments. If you would love to learn a musical instrument, or are already learning one, get yourself a Ngomabook today!
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>