.container {
    min-height: 60vh;
    margin-top: 50px;
    margin-bottom: 50px;

    font-family: 'Montserrat', sans-serif;


    .checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            color: #FF3300;
        }
        .card {
            border-radius: 0;
            .cart {
                .card {
                    border: 0;
                }
            }
            .payment {
                .alert {
                    border-radius: 0;
                }
                button {
                    margin-top: 20px;
                    border-radius: 0px;
                    background-color: #FF3300;
                    border: 0px;
                    outline: none !important;
                    box-shadow: none !important;
                    font-weight: bold;
                }
            }
        }
    }

}